Repository video-dev/hls.js, pull requests merged in 2025-08, with the labels that each got.

#7425 Interstitials improvements and fixes
  api-extractor/report/hls.js.api.md
  src/controller/base-playlist-controller.ts
  src/controller/base-stream-controller.ts
  src/controller/buffer-controller.ts
  src/controller/fragment-tracker.ts
  src/controller/gap-controller.ts
  src/controller/id3-track-controller.ts
  src/controller/interstitial-player.ts
  src/controller/interstitials-controller.ts
  src/controller/interstitials-schedule.ts
  src/controller/stream-controller.ts
  src/loader/fragment.ts
  src/loader/m3u8-parser.ts
  src/loader/playlist-loader.ts
  src/types/events.ts
  src/utils/discontinuities.ts
  src/utils/texttrack-utils.ts
  tests/unit/controller/audio-stream-controller.ts
  tests/unit/controller/base-stream-controller.ts
  tests/unit/controller/buffer-controller.ts
  tests/unit/controller/cap-level-controller.ts
  tests/unit/controller/eme-controller.ts
  tests/unit/controller/fragment-tracker.ts
  tests/unit/controller/interstitials-controller.ts
  tests/unit/controller/level-controller.ts
  tests/unit/controller/level-helper.ts
  tests/unit/controller/stream-controller.ts
  tests/unit/hls.ts
  tests/unit/loader/m3u8-parser.ts
  tests/unit/utils/mediacapabilities-helper.ts
  tests/unit/utils/mock-level.ts
Labels: Interstitials

#7451 Force schedule update on asset or interstitial error
  src/controller/interstitial-player.ts
  src/controller/interstitials-controller.ts
  src/controller/interstitials-schedule.ts
Labels: Interstitials

#7467 Fix interstitial asset events not firing when attaching primary early for playout-limit change
  docs/API.md
  src/controller/interstitials-controller.ts
Labels: Interstitials

#7414 Handle EME key status errors such as "internal-error" and "output-restricted" before appending media
  api-extractor/report/hls.js.api.md
  src/config.ts
  src/controller/base-stream-controller.ts
  src/controller/eme-controller.ts
  src/controller/error-controller.ts
  src/hls.ts
  src/loader/key-loader.ts
  src/loader/level-details.ts
  src/loader/level-key.ts
  src/types/events.ts
  src/utils/arrays.ts
  src/utils/hex.ts
  src/utils/mediakeys-helper.ts
  src/utils/mp4-tools.ts
  tests/unit/controller/audio-stream-controller.ts
  tests/unit/controller/base-stream-controller.ts
  tests/unit/controller/eme-controller.ts
  tests/unit/controller/subtitle-stream-controller.ts
Labels: DRM

#7481 Improve functional test logs
  tests/functional/auto/setup.js
Labels: Maintainer task

#7458 refactor: remove usage of any for networkDetails;
  api-extractor/report/hls.js.api.md
  src/controller/content-steering-controller.ts
  src/loader/fragment-loader.ts
  src/loader/interstitial-asset-list.ts
  src/loader/key-loader.ts
  src/loader/playlist-loader.ts
  src/types/events.ts
  src/types/loader.ts
  src/types/network-details.ts
  tests/unit/controller/audio-stream-controller.ts
  tests/unit/controller/interstitials-controller.ts
  tests/unit/controller/level-controller.ts
  tests/unit/controller/level-helper.ts
  tests/unit/controller/stream-controller.ts
  tests/unit/controller/subtitle-track-controller.ts
Labels: TypeScript
