Repository video-dev/hls.js, pull requests merged in 2025-05, with the labels that each got.

#7182 Fix appending of Interstitials in place that exceed X-PLAYOUT-LIMIT
  api-extractor/report/hls.js.api.md
  src/controller/interstitial-player.ts
Labels: Interstitials

#7199 Prevent overlapping track appends in muxed fmp4 on discontinuity
  api-extractor/report/hls.js.api.md
  src/controller/base-stream-controller.ts
  src/controller/gap-controller.ts
  src/remux/mp4-remuxer.ts
  src/remux/passthrough-remuxer.ts
  src/types/remuxer.ts
  src/utils/mp4-tools.ts
Labels: gap-controller

#7210 Prevent playback freeze by checking buffer availability before updating playback position
  api-extractor/report/hls.js.api.md
  docs/API.md
  src/config.ts
  src/controller/stream-controller.ts
Labels: Live

#7257 Support late X-PLAYOUT-LIMIT update with append-in-place interstitials
  src/controller/interstitials-controller.ts
Labels: Interstitials

#7260 Fix interstitial "_HLS_primary_id" value in asset requests
  api-extractor/report/hls.js.api.md
  src/controller/interstitial-player.ts
  src/controller/interstitials-controller.ts
  src/hls.ts
  tests/unit/controller/interstitials-controller.ts
Labels: Interstitials

#7263 Skip Interstitial assets that error rather than falling back to primary for entire break
  api-extractor/report/hls.js.api.md
  src/controller/interstitial-player.ts
  src/controller/interstitials-controller.ts
  src/loader/interstitial-event.ts
Labels: Interstitials

#7216 Add `requireKeySystemAccessOnStart` (fixes Chrome PIPELINE_DECODE_ERROR on clear to encrypted transition)
  api-extractor/report/hls.js.api.md
  src/config.ts
  src/controller/base-stream-controller.ts
  src/controller/eme-controller.ts
  src/loader/key-loader.ts
Labels: DRM
